/* raleway-700 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v37-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    margin: 0;
    color: #757575;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212121;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.container {
    width: 1170px;
    max-width: 100%;
    margin-inline: auto;
}

/* header */
.header {
    padding: 25px 0 24px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 93px;
}

.header-contacts a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.burger-menu {
    display: none;
}

@media (max-width: 991px) {
    .header-menu {
        display: none;
    }

    .header-contacts a {
        display: none;
    }

    .burger-menu {
        display: block;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative;
    }

    .burger-menu span {
        display: block;
        width: 24px;
        height: 2px;
        background-color: #000;
        position: absolute;
        top: calc(50% - 1);
        left: 0;
        transition: transform 0.3s ease-in-out;
    }

    .burger-menu

    .container {
        padding-inline: 15px;
    }
}

.header-logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #000;
}

.header-logo span {
    color: #2196f3;
}

.menu {
    display: flex;
    gap: 55px;
}

.menu-item a {
    padding-bottom: 20px;
    position: relative;
}

.menu-item a::after {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    content: '';
    border-radius: 2px;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    position: absolute;
}

.menu-item a:hover {
    color: #2196f3;
}

.menu-item a:hover::after {
    transform: scaleX(1);
}

.email {
    transition: color 250ms ease-in-out;
}
.email svg path[fill='#757575'] {
    transition: fill 250ms ease-in-out;
}

.email:hover {
    color: #2196f3;
}

.email:hover svg path[fill='#757575'] {
    fill: #2196f3;
}

.phone {
    transition: color 250ms ease-in-out;
}
.phone svg path[fill='#757575'] {
    transition: fill 250ms ease-in-out;
}

.phone:hover {
    color: #2196f3;
}

.phone:hover svg path[fill='#757575'] {
    fill: #2196f3;
}

.header-contacts {
    display: flex;
    gap: 30px;
}

/* hero */
.hero {
    height: 600px;
    position: relative;
    text-align: center;
    background: url(../images/hero-bg.jpg) top / cover #8a8a8a;
    color: #fff;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(47, 48, 58, 0.4);
}

.hero .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hero h1 {
    max-width: 600px;
    margin: 0 auto 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    border: 0;
    color: #fff;
    background-color: #2196f3;
    padding: 10px 24px;
    border-radius: 4px;
}

/* features */
.features {
    padding-top: 94px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.features-list__item {
    width: 270px;
}

@media (max-width: 576px) {
    .features-list__item {
        width: 100%;
    }
}

.features-list__item h3 {
    margin: 30px auto 10px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-list__item p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.features-list__item .item-icon {
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* services */
.services {
    padding: 94px 0;
}

.services-list {
    display: flex;
    gap: 30px;
}

.services h2 {
    margin: 0 0 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.services-list__item {
    width: 33.333%;
    height: 294px;
    position: relative;
}

.services-list__item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-list__item h3 {
    margin: 0;
    background-color: rgba(47, 48, 58, 0.8);
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 27px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

@media (max-width: 991px) {
    .services-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .services-list__item {
        width: calc(50% - 15%);
    }
}

@media (max-width: 576px) {
    .services-list__item {
        width: 100%;
    }
}

/* team */
.team {
    padding: 94px 0 94px;
    background-color: #f5f4fa;
}

.team h2 {
    margin: 0 0 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-list__item {
    width: 270px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow:
        0px 2px 1px 0px #00000033,
        0px 1px 1px 0px #00000024,
        0px 1px 3px 0px #0000001f;
}

.team-item-icon img {
    display: block;
    width: 100%;
}

.team-list__item h3 {
    margin: 30px 0 0;
    text-align: center;
}

.team-list__item p {
    margin: 10px 0 16px;
    text-align: center;
}

@media (max-width: 991px) {
    .team-list {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .team-list__item {
        width: 100%;
    }
}

.social-list {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-list-item svg {
    display: block;
    border-radius: 50%;
}

.social-list-item svg path {
    transition: fill 250ms ease-in-out;
}

.social-list-item:hover svg path[fill='white'] {
    fill: #2196f3;
}
.social-list-item:hover svg path[fill='#AFB1B8'] {
    fill: #ffffff;
}

/* clients */
.clients {
    padding-bottom: 94px;
}

.clients h2 {
    margin-top: 94px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.client-item-box {
    padding: 15px 31px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}

.client-item-box svg {
    display: block;
}

.client-item-box svg path[fill='#AFB1B8'] {
    transition: fill 250ms ease-in-out;
}

.client-item-box:hover svg path[fill='#AFB1B8'] {
    fill: #2196f3;
}
