/* raleway-700 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v37-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #757575;
    font-family: 'Roboto';
    line-height: 130%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212121;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */
.header {
    padding-bottom: 24px;
    padding-top: 25px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 93px;
}

.header-logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #000;
}

.header-logo span {
    color: #2196f3;
}

.menu {
    display: flex;
    gap: 55px;
}

.header-contacts {
    display: flex;
    gap: 30px;
}

.header-contacts a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
}

/* hero */
.hero {
    height: 600px;
    position: relative;
    text-align: center;
    background: url(../images/hero-bg.jpg) center / cover #8a8a8a;
    display: flex;
    align-items: center;
    color: #fff;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero .container {
    position: relative;
    z-index: 1;
}

.hero h1 {
    width: 600px;
    margin: 0 auto 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #fff;
    background-color: #2196f3;
    padding: 10px 24px;
    border-radius: 4px;
}

/* features */
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.features-list__item {
    width: 270px;
}

.features-list__item h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-list__item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.features-list__item .item-icon {
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* services */
.services h2 {
    margin: 0 auto 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.03em;
}

.services-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* team */
.team h2 {
    margin: 0 auto 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.03em;
}

.team {
    margin-top: 89px;
    padding: 94px 94px;
    background-color: #f5f4fa;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-list__item {
    width: 270px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow:
        0px 2px 1px 0px #00000033,
        0px 1px 1px 0px #00000024,
        0px 1px 3px 0px #0000001f;
}

.team-item-icon img {
    display: block;
    width: 100%;
}

.team-list__item h3 {
    margin: 30px 0 0;
    text-align: center;
}

.team-list__item p {
    margin: 10px 0 16px;
    text-align: center;
}

.social-list {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-list-item svg {
    display: block;
    border-radius: 50%;
}

.social-list-item svg path[fill='white'] {
    transition: fill 250ms ease-in-out;
}

.social-list-item svg path[fill='#AFB1B8'] {
    transition: fill 250ms ease-in-out;
}

.social-list-item:hover svg path[fill='white'] {
    fill: #2196f3;
}
.social-list-item:hover svg path[fill='#AFB1B8'] {
    fill: #ffffff;
}

/* clients */
.clients h2 {
    margin-top: 97px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.03em;
}

.clients-list {
    margin-bottom: 91px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.client-item-box {
    padding: 15px 31px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}

.client-item-box svg {
    display: block;
}

.client-item-box svg path[fill='#AFB1B8'] {
    transition: fill 250ms ease-in-out;
}

.client-item-box:hover svg path[fill='#AFB1B8'] {
    fill: #2196f3;
}

/* work */
.work-list {
    list-style: none;
    padding-left: 20px;
}

.work-list__item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.work-list__item::before {
    content: '\2764';
    font-size: 24px;
}
